body {
	background-color: #242B31;
}

.container {
	max-width: 800px;
	min-height: 450px;
	margin: 2% auto;
	padding: 20px;
	background-color: #625B55;
	border-radius: 2%;
	font-size: 18px;
	color: rgb(212,223,227);
	position: relative; /* para who-am-i no bottom */
}

.container h1 {
	text-align: center;
	color: #DAE5E9;
}

.content {
	float: inherit;
}

.profile-picture {
	width: 40%;
	height: 40%;
	float: left;
	margin: 0px 20px;
}

.highlight {
	font-weight: bold;
}

.who-am-i {
	text-align: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 20px;
}

a {
	color: #B97C45;
	text-decoration: none;
}

a:hover {
	color: #91775E;
}