body {
	background-color: #242B31;
}

.container {
	max-width: 800px;
	min-height: 450px;
	margin: 2% auto;
	padding: 20px;
	background-color: #625B55;
	border-radius: 2%;
	font-size: 18px;
	color: rgb(212,223,227);
}

.container h1 {
	text-align: center;
	color: #DAE5E9;
}

.content {
	float: inherit;
}

.profile-picture {
	width: 40%;
	height: 40%;
	float: left;
	margin: 0px 20px;
}

.highlight {
	font-weight: bold;
}

.who-am-i {
	text-align: center;
	margin: 50px 50px 0px 50px;
}

.send-me {
	text-align: center;
	margin: 10px;
}

.message-box {
	background-color: grey;
	padding: 10px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.message-box > input {
	background-color: #625B55;
	border: 1px solid white;
	color: white;
}

a {
	color: #B97C45;
	text-decoration: none;
}

a:hover {
	color: #91775E;
}
